.skills {
  background-image: url(../img/skills.jpg);
  background-attachment: fixed !important;
  background-repeat: no-repeat;
  background-position: 50% 47px;
  background-size: cover;
  color: #fff;
}
.block-skills {
  position: relative;
}
.percent {
  color: #a9a9a9;
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
  line-height: 130px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 35%;
  right: 30%;
}
.skills-description {
  font-size: 24px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 10px;
}
